html, body{
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(110, 168, 255);
}
#zem {
    margin-bottom:0;
    width: 100%;
}

#mraky {
    position:relative;
    width:100%;
    margin-bottom:100px;
    margin-top: 200px;
    height: min-content
}
#plus {
    position: relative;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%,0);
}

.modal {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border:2px solid black;
    border-radius: 10px;
    z-index: 20;
    background-color: white;
    width: 700px;
    max-width: 80%;
    height: 60%;
    overflow:auto;
}
.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 15px;
}
.modal .header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .header #close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
.overlay.active {
    pointer-events: all;
    opacity: 1;
}

.blah.active {
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 50%;
    width: fit-content;
    padding: 10px;
}

#blah {
    margin-left: 50%;
    transform: translate(-50%,0);
}

.modal .fotka{
    margin:0;
    border-bottom: 1px solid black;
}

.text{
    margin-left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#text{
    resize: none;
    width: 100%;
}
