html, body{
    height: auto;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(110, 168, 255);
    font-family: 'Roboto', sans-serif;
}
#zem {
    margin-bottom:0;
    width: 100%;
}

#mraky {
    position:relative;
    width:100%;
    margin-bottom:100px;
    margin-top: 200px;
    height: min-content
}
#plus {
    position: relative;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%,0);
}

.modal {
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border:2px solid black;
    border-radius: 10px;
    z-index: 20;
    background-color: white;
    width: 700px;
    max-width: 80%;
    height: 60%;
    overflow-x: hidden;
}
.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px 15px;
}
.modal .header .title {
    font-size: 2rem;
    margin-left: 50%;
    transform: translate(-50%,0);
}

#close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
.overlay.active {
    pointer-events: all;
    opacity: 1;
}

.blah.active {
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

#blah {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%,0);
}

.modal .fotka{
    margin:0;
    border-bottom: 1px solid black;
}

.modal .fotka #uploadFotkyInput{
    position: absolute;
    opacity: 0;
}
.modal .fotka #uploadFotky{
    display: block;
    border: 3px solid #8d8d8d; 
    border-radius:10px;
    padding: 10px;
    margin: 10px 10px 10px 50%;
    transform: translate(-50%,0);
    background-color: white;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    color: #8d8d8d;
}

.modal .fotka #uploadFotky:hover{
    background-color: rgb(213, 213, 213);
}

.modal .text{
    width: 100%;
    border-bottom: 1px solid black;
}

.modal #textArea{
    resize: none;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(-50%,0);
    width: 80%;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.modal #send-button {
    border: 3px solid black; 
    border-radius:10px;
    padding: 10px;
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%,0);
    background-color: white;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.modal #send-button:hover{
    background-color: rgb(213, 213, 213);
}

.vyber-fotku {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    width: 400px;
    max-width: 40%;
    height: 150px;
    background-color: rgb(255, 203, 203);
    border: 4px solid rgb(255, 100, 100);
    border-radius: 10px;
    z-index: 22;
}
.vyber-fotku.active {
    transform: translate(-50%,-50%) scale(1);
}

#close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.overlay2 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
    z-index: 21;
}
.overlay2.active {
    pointer-events: all;
    opacity: 1;
}

#close {
    margin-left: 100%;
    transform: translate(-100%,0);
    margin-top: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 0;
}
.vyber-fotku #text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-size: 1.5rem;
}

.obrazokDiv {
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 20%;
    border: 3px solid yellow; 
    border-radius:10px; 
    padding: 10px;
    background-color: rgba(0,0,0,0.2)
}
.obrazokShadow {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
}

.obrazokShadow.active {
    opacity: 1
}

.preview {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%) scale(0);
    padding: 10px;
    width: 800px;
    height: 100%;
    transition: 200ms ease-in-out;
    z-index: 20;
    overflow-x: hidden;
}
.preview.active{
    transform: translate(-50%,-10%) scale(1);
}

.previewImage {
    border: 3px solid yellow; 
    border-radius:10px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.previewText {
    border: 3px solid yellow; 
    border-radius:10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    text-align: center;
}

.previewClose {
    border: 3px solid yellow; 
    border-radius:10px;
    padding: 20px;
    margin: 30px 10px 40px 50%;
    transform: translate(-50%,0);
    background-color: white;
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.previewClose:hover {
    background-color: rgb(213, 213, 213);
}